<div class="container">
    <h2 class="text-center py-3">
        Inizia l'header component
    </h2>
    <div class="row cols-2">
        <div class="col border">
            <div class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque perspiciatis, nihil expedita
                vitae suscipit, dolores fuga voluptatem recusandae ab ad excepturi corrupti harum sed maxime similique
                velit consequuntur qui commodi!</div>
        </div>
        <div class="col border">
            <div class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque perspiciatis, nihil expedita
                vitae suscipit, dolores fuga voluptatem recusandae ab ad excepturi corrupti harum sed maxime similique
                velit consequuntur qui commodi!</div>
        </div>
    </div>